<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
 <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx"></forms></authentication>
    
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />

    <roleManager enabled="true"/></system.web>

  <connectionStrings>
    
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g1; Persist Security Info=True; User ID=msci3300_g1; Password=Group1password!" />
    <add name="db_stateFacts" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g1; Persist Security Info=True; User ID=msci3300_g1; Password=Group1password!"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=apollo.biz.uiowa.edu;Persist Security Info=True;User ID=msci3300_g1;Password=Group1password!"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Data Source=apollo.biz.uiowa.edu;Persist Security Info=True;User ID=msci3300_g1;Password=Group1password!"
      providerName="System.Data.SqlClient" />
    <add name="cs_ToolRental" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=
msci3300_g1; Persist Security Info=True; User ID=msci3300_g1; Password=Group1password!"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
